Set-StrictMode -Version Latest
$ErrorActionPreference = "Stop"

Set-Location "{{ .chezmoi.sourceDir }}\..\setup"

function Run-SetupDir($dir) {
  Get-ChildItem -Path $dir -Filter "*.ps1" -ErrorAction SilentlyContinue | Sort-Object Name | ForEach-Object {
    Write-Host "▶ $($_.FullName)"
    & $_.FullName
  }
}

Run-SetupDir "windows"
Run-SetupDir "shared"
