# setup hash: {{ $files := list }}{{ $files = concat $files (glob (joinPath .chezmoi.sourceDir "../setup/windows/*.ps1")) }}{{ $files = concat $files (glob (joinPath .chezmoi.sourceDir "../setup/shared/*.ps1")) }}{{ $content := "" }}{{ range $files }}{{ $content = print $content (include .) }}{{ end }}{{ $content | sha256sum }}
Set-StrictMode -Version Latest
$ErrorActionPreference = "Stop"

Set-Location "{{ .chezmoi.sourceDir }}\..\setup"

function Run-SetupDir($dir) {
  Get-ChildItem -Path $dir -Filter "*.ps1" -ErrorAction SilentlyContinue | Sort-Object Name | ForEach-Object {
    Write-Host "▶ $($_.FullName)"
    & $_.FullName
  }
}

Run-SetupDir "windows"
Run-SetupDir "shared"
